body {
	height: 550px !important;
	width: 750px !important;
	min-height: 550px !important;
	min-width: 750px !important;
}

#root {
	height: 550px;
	width: 750px;
}

.extension-body {
	width: 750px;
	height: 550px;
}
